body{
    color: #ffff;
}

h1{
    text-align: center;
}

.hidden {
    display: none;
}
#header{
    margin-top: 1%;
    padding: 1%;
}


#clock {
    text-align: center;
}
#login_form{
    text-align: center;
}
footer{
    position: fixed;
    background-color: #4a4e69;
    color: #fff;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: 100%;
}
#cite{
    color: #fff;
}

